body {
    background-image: url("../hand-drawn-halloween-background_23-2149064303.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  h1 {
      text-align: center;
  }
  
  p {
      text-align: center;
  }
  
  
  div.sass {
      font-family: sans-serif;
  }
  
  h1.headerText {
      font-size: 110px;
      font-style: italic;
      color: #808080;
  
  }
  p.headerText {
   font-size: 25px;
   font-weight: bold;
   color: #808080;
  
  }
  
  /*
   ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #000000;
      height: 100%; 
      position: fixed;  
      overflow: auto; 
      border: 3px solid rgb(234, 98, 14);
    }
  
  li {
      text-align: center;
      border-bottom: 1px solid rgb(234, 98, 14);
  }
  
  li a {
      display: block;
      color: rgb(255, 227, 227);
      padding: 15px 20px;
      text-decoration: none;
    }
    
  
  li a:hover {
      background-color: #555;
      color: white;
    }
  
    .active {
      background-color: #e5a80f;
      color: white;
    } */
  
  
  